h1 a {
    color: #F6CD7F;
    text-decoration: none;
}

header nav a {
    color: #EAE8E5;
}

footer nav a {
    color: #F6CD7F;
}

article h3 {
    color: #EAE8E5;
}

article h4 a {
    color: #F6CD7F;
    text-decoration: none;
}
article h2 a {
    color: black;
    text-decoration: none;
}